#main-display {
  align-items: center;
  background-color: purple;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 1em;
  text-align: center;
}

#left-display {
  text-align: center;
  background-color: yellow;
  justify-content: center;
}

#current-component {
  left: 52%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

#right-display {
  background-color: cyan;
}

#initial-component {
  grid-column: 5 / span 4;
  grid-row: 1 / span 2;
}

#initial-component-two {
  grid-column: 2 / span 4;
  grid-row: 3 / span 2;
}

#initial-component-three {
  grid-column: 8 / span 4;
  grid-row: 3 / span 2;
}