#new-project-display {
  background-image: linear-gradient(0.25turn, #aaa9a9, #d8d8d8, #aaa9a9);
}

#left-display {
  text-align: center;
  justify-content: center;
}

#main-display {
  margin-top: 2.5%;
}

#right-display {
  text-align: center;
  justify-content: center;
}

#current-component {
  left: 60%;
  padding: 10px;
  position: relative;
  top: 55%;
  transform: translate(-50%, -50%);
}